{% extends "base.html" %}
{% block extra_css %}
<style>
    .logo {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
</style>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="Features">
    <h2 class="pb-2 border-bottom">Regex</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        

        <div class="col d-flex align-items-start flex-column">
            <h4 class="fw-bold mb-3">Enter Mobile Number</h4>
            <form>
                <div class="mb-3">
                    <label for="mobileNumber" class="form-label">Mobile Number (+98912xxxxxxx)</label>
                    <input type="tel" 
                           class="form-control" 
                           id="mobileNumber" 
                           name="mobileNumber" 
                           placeholder="+98912xxxxxxx"
                           pattern="\+98912\d{7}"
                           title="Mobile number must be in the format +98912xxxxxxx"
                           required>
                </div>
                <button type="submit" class="btn btn-primary">Submit Mobile</button>
            </form>
            </div>


    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}